*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    margin: 48px auto;
    justify-content: center;
}

header img{
    margin-right: 16px;
    height: 40px;
}

section{
    padding: 48px 0;
}

hr.gradiente {
    
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 147, 185, 0.75), rgba(0, 0, 0, 0));
}

.form-campo{
    margin-bottom:16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input{
    width: 100%;
    display: block;
    padding: 8px;
}

form {
    max-width: 360px;
}

form button{
    max-width: 120px;
}

button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #0093B9;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}