*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:#dfdfdf;
    padding-top: 100px;
}

.container{
    max-width: 960px;
    width:100%;
    margin: 0 auto;
}

header{
    display: flex;
    align-itens:center;
    margin-bottom: 48px;
    justify-content: center;
}

header img{
    height:48px;
    margin-right:16px;
}

form{
    margin-bottom: 48px;
}

form input{
    background-color: #fff;
    border: none;    
    padding: 8px;
    font-size: 16px;
}

form button{
    background-color: #5b9d4c;
    color: #fff;
    border: none;   
    font-size: 16px;
    padding: 8px;
    cursor: pointer;
    border-radius:2px;
}

button:hover{
    background-color: #83be71;
}

ul{
    list-style:none;
    margin-bottom: 100px;
    
}
ul li{
    /* text-decoration: line-through; */
    border-bottom: 1px solid rgba(0,0,0,0.4);
    margin-bottom: 8px;
}

.tarefa-realizada{
    text-decoration: line-through;
}

